{% extends 'citizen/layout.html' %}
{% load static %}
{% block title %}Обо мне{% endblock %}

{% block content %}
   <div class="container">
       <section class="intro">
           <div class="intro__wrap">
               <div class="intro__img">
                   <img src="{% static 'about/img/me.webp' %}" alt="photo">
               </div>
               <div class="intro__block">
                   <h1 class="intro__name">
                       Свешникова Анна Александровна
                   </h1>
                   <p class="intro__text">
                       <span>Должность:</span> Преподаватель специальных дисциплин.
                   </p>
                   <p class="intro__text">
                       <span>Место работы:</span> ГАПОУ "Нижнекамский индустриальный техникум"
                   </p>
               </div>
           </div>
       </section>
        <section class="education">
            <div class="education__wrap">
                <div class="education__block">
                    <div class="education__item">
                        <h3 class="education__title">
                            Личная информация
                        </h3>
                        <div class="education__texts">
                            <p class="education__text">
                                <span> Гражданство:</span> РФ
                            </p>
                            <p class="education__text">
                                <span> Место проживания:</span> г. Нижнекамск
                            </p>
                            <p class="education__text">
                                <span> Образование:</span> Высшее
                            </p>
                            <p class="education__text">
                                <span> Дата рождения:</span> 26.02.1986
                            </p>
                            <p class="education__text">
                                <span> Семейное положение:</span> Не замужем (есть дети)
                            </p>
                            <p class="education__text">
                                <span> Контактные данные:</span> <a href="tel:+79274808413">Тел: +79274808413</a>, <a
                                    href="https://wa.me/message/UAMX2A4K6BSRP1">Whatsapp: 8965945897</a>
                            </p>
                        </div>
                    </div>
                    <div class="education__item">
                        <h3 class="education__title">
                            Опыт работы
                        </h3>
                        <div class="education__texts">
                            <p class="education__text">
                                <span> С 2009 по 2011:</span> Караидельская СОШ №2. - Преподаватель информатики и английского языка.
                            </p>
                            <p class="education__text">
                                <span> с 2012 по 2019:</span> ООО "ПЭК Поволжье". - Менеджер по работе с клиентами.
                            </p>
                            <p class="education__text">
                                <span> с 2018 по 2019:</span> Караидельская СОШ №2. - Преподаватель английского языка.
                            </p>
                            <div class="education__text">
                                <p><span> с 2019 по настоящее время:</span> ГАПОУ "Нижнекамский индустриальный техникум". - Преподаватель спец. дисциплин.</p>
                                <p><span> Обязанности:</span></p>
                                <ul>
                                    <li>Организация учебно-воспитательной работы </li>
                                    <li>Планирование учебного плана</li>
                                    <li>Проведение занятии в соответствии с планом</li>
                                    <li>Проверка практических и лабораторных работ</li>
                                    <li>Проведение мероприятий по професси/специальности</li>
                                    <li>Ведение журналов</li>
                                    <li>Проведение родительских собраний</li>
                                    <li>Сдача отчетности</li>
                                    <li>Сопровождение студентов во время производственной практики на предприятии</li>
                                </ul>
                                <p><span>  Специальности и предметы:</span></p>
                                <ul>
                                    <li>Техническая эксплуатация и обслуживание роботизированного производства. - Инжненерная графика, основы цифрового производства, основы робототехники. Проведение учебной практики.</li>
                                    <li>Технология металлообрабатывающего производства. - Инженерная графика, компьютерная графика, основы цифрового производства.</li>
                                    <li>Информационные системы и программирование. - Основы алгоритмизации и программирования, численные методы, операционные системы и среды, основы проектирования баз данных,
                                        междисциплинарные курсы, подготовка студентов к сдаче демонстрационного экзамена по КОД 1.2, КОД 1.4. Проведение учебной и производственной практики.</li>
                                    <li>Автоматические системы управления. - Микросхемотехника и микропроцессоры, инженерная графика, компьютерная графика. Проведение учебной практики.</li>
                                </ul>
                                <p><span> Достижения:</span></p>
                                <ul>
                                    <li>Почетная грамота за высокую мотивацию в развитии личного потенциала, продуктивность профессиональной деятельности и внедрение информационных технологий. - ГАПОУ "Нижнекамский индустриальный техникум". </li>
                                    <li>Призовые места в профессиональных конкурсах. </li>
                                    <li>2019-2022 г. - Проведение профессиональных конкурсов на внутритехникумевском и региональном уровне.</li>
                                    <li>2019 г. - I место в региональном чемпионате WSR по компетенции "Интернет вещей".</li>
                                    <li>2019 г. по настоящее время - подготовка студентов к чемпионату WSR и Абилимпикс по компетенции "Веб дизайн и разработка".</li>
                                    <li>2019 г. - III место в муниципальном конкурсе “IT-Хакатон».</li>
                                    <li>2020 г. - III место в городском Хакатоне "Цифровые решения для города".</li>
                                    <li>2021 г. - I, III место в открытым конкурсе профессионального мастерства «Юный профессионал» среди учащихся 7-9 классов общеобразовательных организаций РТ (школьники).</li>
                                    <li>2022 г. - I место в VIII Республиканской студенческой научно-практическая конференция «Интеллектуальный потенциал молодежи XXI века». </li>
                                    <li>2022 г. - III место в Республиканском Хакатоне по цифровым решениям «TATAR HACK». </li>
                                    <li>2022 г. - подготовка студентов к сдаче демо. экзамена по компетенции "Веб-технологии" по КОД 1.2. Результат: из 20 студентов: 6 - пятерки, 11 - четверки, 3 - тройки. Максимальный результат 17,8 из 19 баллов.</li>
                                    <li>2022 г. - Проведение демонстрационного экзамена по компетенции "Веб-технологии" в качестве главного эксперта.</li>
                                </ul>
                            </div>
                            <p class="education__text">
                                <span> с 2019 (ежегодно с сентября по декабрь):</span> МАУ ДО ""Центр технического творчества и профориентации" НМР РТ. - Преподаватель доп. образования по компетенции Веб-дизайн и разработка.
                            </p>
                        </div>
                    </div>
                    <div class="education__item">
                        <h3 class="education__title">
                            Образование
                        </h3>
                        <div class="education__texts">
                            <p class="education__text">
                                <span> 2004-2009:</span> Бирская государственная соцмально-педагогическая академия. - Преподаватель информатики с доп. специальностью Преподаватель английского языка.
                            </p>
                            <p class="education__text">
                                <span> 2020-2021:</span> АНО ДПО “Санкт-Петербургский университет повышения квалификации и профессиональной переподготовки по направлению «Компьютерные технологии в системах автоматического управления производственными процессами».
                            </p>
                            <p class="education__text">
                                <span> 2021-2022:</span>  ООО “Московский институт профессиональной переподготовки и повшения квалификации педагогов”. - Профессиональная переподготовка по направлению Преподаватель математики.

                            </p>
                            <p class="education__text"><span> Дополнительные курсы:</span></p>
                            <div class="education__text">
                                <p><span> 2019-2020 уч.год:</span></p>
                                <ul>
                                    <li>ГАОУ ДПО «Институт развития образования Республики Татарстан» - Современные технологии практического обучения: от ФГОС СПО к международным профессиональным стандартам WorldSkills </li>
                                    <li>ГАПОУ г. Москвы «Колледж предпринимательства №11» - Повышение квалификации преподавателей (мастеров производственного обучения)
                                        «Практика и методика реализации образовательных программ СПО с учетом спецификации стандартов Ворлдскиллс по компетенции «Интернет вещей»</li>
                                    <li>Автономная некоммерческая организация «Агентство развития профессионального мастерства (Ворлдскиллс Россия)» -
                                        обучение на линейного эксперта демо. экзамена по компетенции "Веб-дизайн и разработка"</li>
                                </ul>
                            </div>
                            <div class="education__text">
                                <p><span> 2020-2021 уч.год:</span></p>
                                <ul>
                                    <li>ГАПОУ «Международный центр компетенций – Казанский техникум информационных технологий и связи» - Повышение квалификации «проектирование и реализация основных образовательных
                                        программ ПОО в рамках укрупненной группы специальности 09.00.00 Информатика и вычислительная техника в соответствии с актуализированным ФГОС СПО по программе «Программист» </li>
                                    <li>ЧОУ ДПО «1С-Образование» - Повышение квалификации «Знакомство с платформой «1С:Предприятие 8.3», основы программирования в среде «1С:Предприятие 8.3»,
                                        основные механизмы платформы «1С:Предприятие 8.3»</li>
                                    <li>Университет 20.35 - Курсы «Универсальные компетенции по обеспечению личной эффективности»</li>
                                    <li>АНО “Университет  Национальной технологической инициативы 20.35” - Курсы повышения квалификации «Методы и технологии, основанные на работе с данными», направленность «Введение в управление на основе данных»</li>
                                    <li>НИУ “Высшая школа экономики”, Coursera - Курсы: «Основы программирования на Python»</li>
                                    <li>Coursera project network - Курсы: «Database Creation and Modeling using MySQL Workbench» (Создание и редактирование баз данных на MySQL)</li>
                                    <li>Образовательный проект “WayUp” - Курсы «Веб-дизайнер: Взрывной старт»</li>
                                    <li>Образовательный проект “WayUp” - Курсы «JavaScript погружение»</li>
                                    <li>Образовательный проект “WayUp” - Курсы «Веб-верстальщик: начало»</li>
                                    <li>ПАО "Нижнекамскшина" - стажировка по специальности «Информационные системы и программирование»</li>
                                    <li>ПАО "Нижнекамскшина" - стажировка по специальности «Техническая эксплуатация и обслуживание роботизированного производства»</li>
                                </ul>
                            </div>
                            <div class="education__text">
                                <p><span> 2021-2022 уч.год:</span></p>
                                <ul>
                                    <li>Автономная некоммерческая организация «Агентство развития профессионального мастерства (Ворлдскиллс Россия)» -
                                        обучение на линейного эксперта демо. экзамена по компетенции "Веб-технологии"</li>
                                    <li>Автономная некоммерческая организация «Агентство развития профессионального мастерства (Ворлдскиллс Россия)» -
                                        обучение на главного эксперта демо. экзамена по компетенции "Веб-технологии"</li>
                                    <li>GeekBrains - Курсы «Основы программирования"</li>
                                    <li>GeekBrains - Курсы «Лекции по основам программирования"</li>
                                    <li>GeekBrains - Курсы «Напиши свою первую программу"</li>
                                    <li>GeekBrains - Курсы «Основы языка Python"</li>
                                    <li>GeekBrains - Курсы «Git: Базовый курс"</li>
                                    <li>ФГАОУ ДПО «Академия реализации государственной политики и профессионального развития работников образования Министерства просвещения РФ" -
                                        Курсы повышения квалификации «Цифровые технологии в образовании» </li>
                                    <li>ФГАОУ ДПО «Академия реализации государственной политики и профессионального развития работников образования Министерства просвещения РФ" -
                                        Курсы повышения квалификации «Информационная безопасность детей» </li>
                                    <li>Образовательный курс от ГК «Цифра» - Онлайн-практикум «Цифровое производство»</li>
                                    <li>ОАО "Нижнекамский завод грузовых шин" - стажировка по специальности «Автоматические системы управления»</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="education__item">
                        <h3 class="education__title">
                            Дополнительная информация
                        </h3>
                        <div class="education__texts">
                            <p class="education__text">
                                <span> Иностранные языки:</span> Английский язык
                            </p>
                            <p class="education__text">
                                <span> Компьютерные навыки:</span> печать, сканирование, копирование документов, Интернет, Microsoft Office, VS Code, Sublime Text, OpenServer, PyCharm, PHPStorm, AnyLogic, RoboDk, LabView, Moodle
                            </p>
                            <p class="education__text">
                                <span> Наличие водительских прав:</span> Категория В
                            </p>
                            <p class="education__text">
                                <span> Личные качества:</span> грамотная речь, работа в команде, деловое общение, ориентация на результат, уравновешенность,
                                отсутствие вредных привычек, любовь к самообразованию, коммуникативность.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}